<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet"/>
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
  <link rel="stylesheet" href="/public/style.css">
  <title>Teach Thru Talk</title>
</head>

<body>
{{!-- NAv BAR --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"></a>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/threads">Thread Directory</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/languages" role="button" class="btn btn-danger px-5">Start Chatting Now</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {{#if loggedIn}}
                    <li class="nav-item">
                        <button type="submit" id="logout">logout</button>
                    </li>
                    {{else}}
                     <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

<!-- Render the sub layout -->
<main>
      {{{ body }}}
</main>

<!-- Render script for logged in users only -->
{{#if loggedIn}}
    <script src="/logout.js"></script>
{{/if}}

</body>

</html>