<style>
#map { position: absolute; top: 350px; bottom: 50px; left: 20vw; right: 20vw; width: 60%; }
</style>
<style>
.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}
</style>
<div>
    <div id="map"></div>
</div>

<script src="./mapdisplay.js"></script>
