{{!-- <h2>Sign Up</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-control" type="text" id="email"/>
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-control" type="password" id="password"/>
  </div>
    <div class="form-group">
    <label for="password-login">name:</label>
    <input class="form-control" type="text" id="name"/>
  </div>
    <div class="form-group">
    <label for="password-login">city/country:</label>
    <input class="form-control" type="text" id="location"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="signUpButton">Sign Up</button>
  </div>
</form> --}}

<body style="background-image: url(https://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg); background-size:cover; background-repeat:no-repeat; height:100%; ">
  
<hr style="padding: 25px; opacity:0 ">

</div>
<div class="container" style="align-content: center;">
	<div class="d-flex justify-content-center">
		<div class="card" style="height: 370px; margin-top:auto; margin-bottom:auto; width: 400px; background-color: rgba(0,0,0,0.5)">
			<div class="card-header">
				<h3 style="color: white;">Sign Up</h3>
			</div>
			<div class="card-body">
				<form class="login-form">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span style="height: 40px; width: 50px; background-color:#FFC312; color:black; border: 0, im !important;" class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="someone@somewhere.com" id="email">
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span style="height: 40px; width: 50px; background-color:#FFC312; color:black; border: 0, im !important;" class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Password" id="password">
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span style="height: 40px; width: 50px; background-color:#FFC312; color:black; border: 0, im !important;" class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="First Name, Last Name" id="name">
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span style="height: 40px; width: 50px; background-color:#FFC312; color:black; border: 0, im !important;" class="input-group-text"><i class="fas fa-globe-americas"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="City, State(Province)" id="location">
					</div>

						<div class="form-group">
						<button class="btn btn-primary" style="float:right; color:black; background-color:#FFC312; width:100px" type="submit" id="loginButton">login</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
</body>

<script src="/signup.js"></script>