<div class="thread-container">
  <div class="card-header text-center">

      <h1>
        Threads Dashboard
      </h1>

  </div>
  {{!-- {{#if loggedIn}} --}}
<div class="container mt-5">
  <div class="row">
    <div class="col text-center">

{{!-- hidden new thread form --}}
      <div id="newThread" style="display: none;">
        <form>
          <div class="form-group" id ="threadLanguagePrompt" style="display: block;">
            <label for="threadBody"><strong>Language abbreviation of Thread</strong></label>
            <input type="text" class="form-control text-center" id="threadLanguage" placeholder="the two letter language abbreviation...">
          </div>
          <div class="form-group">
            <label for="threadTitle"><strong>Title of Thread</strong></label>
            <input type="text" class="form-control text-center" id="threadTitle" placeholder="Name the title of your new thread...">
          </div>
          <div class="form-group">
            <label for="threadBody"><strong>Description</strong></label>
            <input type="text" class="form-control text-center" id="threadBody" placeholder="describe the topic of this thread...">
          </div>
           <input type="button" class="" id="submitThread" value="Submit"/>
        </form>
      </div>

       <input type="button" id="newThreadBtn" value="Create a new Thread" style="display: inline;"/>

    </div>
  </div>
</div>

{{!-- {{/if}} --}}

{{#each threads as |tread|}}
<div class="m-5 w-50 d-grid gap-2 col-6 mx-auto text-center">    
<div class="card text-center">
  <div class="card-header">
    ~ Thread Topic ~
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text"><i>{{body}}</i></p>
    <a href="/api/replies/{{id}}" class="btn btn-primary">Go to discussion</a>
  </div>
</div>
</div>
{{/each}}
</div>

<script src="/add-thread-lang.js"></script>
