<div class="thread-container">
  <div class="card-header text-center">

      <h1>
        Threads Dashboard
      </h1>

  </div>
<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-default">Add a new thread!</button>
    </div>
  </div>
</div>
  {{#each threads as |tread|}}
<div class="m-5 w-50 d-grid gap-2 col-6 mx-auto text-center">    
<div class="card text-center">
  <div class="card-header">
    ~ Thread Topic ~
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text"><i>{{body}}</i></p>
    <a href="/api/replies/{{id}}" class="btn btn-primary">Go to discussion</a>
  </div>
</div>
</div>
  {{/each}}
</div>
